* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Arial";
}

a,
input,
button,
select {
  font-family: "Montserrat", "Arial";
}

.header {
  position: relative;
}

.mobile-image {
  display: none;
}

.header__image {
  position: absolute;
  top: 0;
  right: 0;
}

.header__image-small {
  position: absolute;
}

.img-star-1 {
  top: 94px;
  left: 63px;
  width: 57px;
  height: 57px;
}

.img-star-2 {
  top: 69px;
  left: 156px;
  width: 35px;
  height: 35px;
}

.img-star-3 {
  bottom: 255px;
  right: 455px;
  width: 37px;
  height: 37px;
}

.img-star-4 {
  bottom: 149px;
  right: 344px;
  width: 83px;
  height: 83px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-color: #E1FF8F;
}

.top__intro {
  padding-top: 196px;
  padding-bottom: 246px;
  color: #202027;
}

.top__title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 24px;
  line-height: 100%;
}

.top__subtitle {
  font-size: 24px;
  margin-bottom: 48px;
  line-height: 32px;
}

span {
  font-weight: 600;
}

.top__button-mobile {
  display: none;
}

.top__button {
  display: block;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  background: #202027;
  border: 1px solid #202027;
  border-radius: 60px;
  padding: 16px 65px;
  width: 247px;
  height: 66px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.top__button:hover {
  background: #FFFFFF;
  color: #202027;
  transition: background-color 2s;
}

.strip-container {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 90px;
}

.animated-strip {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  animation: move 20s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.animated-strip img {
  display: inline-block;
}

.main {
  background-color: #202027;
  position: relative;
  z-index: 10;
}

.main__image {
  position: absolute;
  top: 77px;
  right: 0;
  z-index: -1;
}

.main__image-small {
  position: absolute;
  z-index: -1;
}

.img-star-11 {
  top: 770px;
  left: 25px;
}

.img-star-12 {
  top: 822px;
  left: 40px;
}

.img-star-7 {
  top: 1563px;
  right: 124px;
}

.img-star-6 {
  top: 1596px;
  right: 45px;
}

.img-star-8 {
  bottom: 65px;
  right: 52px;
}

.img-star-10 {
  bottom: 45px;
  right: 150px;
}

.games-info {
  padding-top: 94px;
  color: #FFF;
  padding-bottom: 50px;
}

.games-info__title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 24px;
  line-height: 100%;
}

.games-info__subtitle {
  font-size: 24px;
  margin-bottom: 72px;
  line-height: 32px;
}

.game-cards {
  display: flex;
  gap: 32px;
}

.game-card {
  height: -moz-max-content;
  height: max-content;
  max-width: 378px;
  background-color: #fff;
  color: #202027;
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
  transition: transform 1s;
}

.game-card:hover {
  transform: scale(1.1);
}

.game-card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.game-card__content {
  padding: 32px 32px 36px 32px;
}

.game-card__number {
  padding: 8px 16px 10px 16px;
  background-color: #F7F7F7;
  border-radius: 52.58px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  width: -moz-max-content;
  width: max-content;
}

.game-card__name {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

.game-card-position-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game-card-position-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game-card-position-3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mini-games {
  padding-top: 46px;
  padding-bottom: 144px;
  color: #FFFFFF;
}

.mini-games__title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 72px;
  line-height: 100%;
}

.mini-games-card {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  background-color: #fff;
  color: #202027;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  gap: 48px;
  margin-bottom: 32px;
}

.mini-games-card__img {
  display: block;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
}

.mini-games-card__content {
  margin-top: 48px;
  margin-right: 48px;
}

.mini-games-card__name {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 24px;
  line-height: 100%;
}

.mini-games-card__info {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 36px;
}

.mini-games-card__btn {
  display: block;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  background: #202027;
  border: 1px solid #202027;
  border-radius: 60px;
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  margin-bottom: 32px;
}

.mini-games-card__btn:hover {
  background: #FFFFFF;
  color: #202027;
  transition: background-color 2s;
}

.img-position-right {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.mini-games-card__content-left {
  margin-top: 48px;
  margin-left: 48px;
}

.footer {
  background-color: #BDED35;
  height: 150px;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: #000;
  text-align: center;
  padding-top: 60px;
}

@media (max-width: 820px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .games-info {
    display: none;
  }
  .header__image {
    display: none;
  }
  .mobile-image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .img-star-1 {
    top: 97px;
    left: 37px;
    width: 35px;
    height: 35px;
  }
  .img-star-2 {
    top: 64px;
    left: 91px;
    width: 21px;
    height: 21px;
  }
  .img-star-3 {
    bottom: 125px;
    right: 86px;
    width: 18px;
    height: 18px;
  }
  .img-star-4 {
    bottom: 79px;
    right: 34px;
    width: 39px;
    height: 41px;
  }
  .top__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
  }
  .top__subtitle {
    font-size: 16px;
    margin-bottom: 36px;
    line-height: 100%;
    text-align: center;
  }
  .top__button {
    display: none;
  }
  .top__button-mobile {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 142%;
    background: #202027;
    border: 1px solid #202027;
    border-radius: 60px;
    padding: 16px 28px;
    width: 285px;
    max-height: 55px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }
  .strip-container {
    height: 51px;
  }
  .animated-strip {
    height: 51px;
  }
  .main__image, .main__image-small {
    display: none;
  }
  .mini-games {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .mini-games__title {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .mini-games-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  .mini-games-card {
    display: block;
    max-width: 343px;
    margin-bottom: 0;
  }
  .mini-games-card__img {
    width: 100%;
  }
  .mini-games-card__content {
    margin-top: 29px;
    margin-right: 29px;
    margin-left: 29px;
  }
  .mini-games-card__content-left {
    margin-top: 29px;
    margin-right: 29px;
    margin-left: 29px;
  }
  .mini-games-card__name {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .mini-games-card__info {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 100%;
  }
  .mini-games-card__btn {
    font-size: 16px;
    padding: 16px 28px;
    width: 285px;
    height: 55px;
    margin-bottom: 32px;
  }
  .footer {
    height: 100px;
    font-size: 16px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */