@media (max-width: 820px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .games-info {
    display: none;
  }

  .header__image {
    display: none;
  }

  .mobile-image {
    display: block;
    position: absolute;
    top: 0; right: 0;
  }

  
  .img-star-1 {
    top: 97px; 
    left: 37px;
    width: 35px;
    height: 35px;
  }

  .img-star-2 {
    top: 64px; 
    left: 91px;
    width: 21px;
    height: 21px;
  }

  .img-star-3 {
    bottom: 125px;
    right: 86px;
    width: 18px;
    height: 18px;
  }

  .img-star-4 {
    bottom: 79px;
    right: 34px;
    width: 39px;
    height: 41px;
  }

  .top {
    &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 100%;
      text-align: center;
    }

    &__subtitle {
      font-size: 16px;
      margin-bottom: 36px;
      line-height: 100%;
      text-align: center;
    }

    &__button {
      display: none;
    }

    &__button-mobile {
      display: block;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 600;
      line-height: 142%;
      background: #202027;
      border: 1px solid #202027;
      border-radius: 60px;
      padding: 16px 28px;
      width: 285px;
      max-height: 55px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      text-decoration: none;
      outline: none;
    }
  }

  .strip-container {
    height: 51px; 
  }

  .animated-strip {
    height: 51px; 
  }

  .main__image, .main__image-small {
    display: none;
  }


  .mini-games {
    padding-top: 48px;
    padding-bottom: 10px;
    
    &__title {
      font-size: 40px;
      margin-bottom: 48px;
    }
  }

  .mini-games-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .mini-games-card {
    display: block;
    max-width: 343px;
    margin-bottom: 0;

    &__img {
      width: 100%;
    }

    &__content {
      margin-top: 29px;
      margin-right: 29px;
      margin-left: 29px;
    }
    &__content-left {
      margin-top: 29px;
      margin-right: 29px;
      margin-left: 29px;
    }

    &__name {
      font-size: 32px;
      margin-bottom: 16px;
    }

    &__info {
      font-size: 16px;
      margin-bottom: 32px;
      line-height: 100%;
    }

    &__btn {
      font-size: 16px;
      padding: 16px 28px;
      width: 285px;
      height: 55px;
      margin-bottom: 32px;
    }
  }
  .footer {
    height: 100px;
    font-size: 16px;
    padding-top: 40px;
  }
}
